.brand-image{
    opacity: .8;
}

.sidebar_nav{
    overflow:scroll;
    height: 70vh;
}


.sidebar_nav::-webkit-scrollbar {
    display: none;
    /* scrollbar-width: none; */
    /* color: red; */
    /* width: 4px; */
    /* padding:2px; */
    /* margin-right: 5px; */
    /* border: 1px solid red; */
    /* border-radius:80px; */
    /* background-color: white; */

  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .sidebar_nav {
    /* -ms-overflow-style: none;   */
    /* scrollbar-width: none;   */
  }